@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
* {
    margin: 0;
    
}



.turn {
    width: 100%;
    height:100px;
    margin: 10px;
    display: flex;
    align-content: space-between;
    justify-content: center;
    margin-top: 10px;
}

.player-title {
    font-size: 20px;
}

#player-1-div, #player-2-div {
    border: 2px solid yellow;
    width: 230px;
    border-style: dotted;
}

#player-2-div {
    border: 2px solid white;
    border-style: dotted;
}

#game-start {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
    height: 70vmin;
    gap: 20px;
    font-size: 20px;
}

#end-screen {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
    height: 70vmin;
    gap: 20px;
    font-size: 40px;
}

.player-div {
    display: flex;
    flex-direction: column;
    width: 400px;
    align-self: center;
    justify-content: center;
    align-items: center;
    
}



#player-1{
    color: #31106e8a;
}

#player-2{
    color: #31106e7e;
}

input {
    font-size: 30px;
    margin-top: 20px;
    border-radius: 3px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.699);
}

#submit-button, #restart-button{
 width: 200px;
 height: 50px;
 cursor: pointer;
  background: transparent;
  border: 2px solid black;
  outline: none;
  transition: 1s ease-in-out;
  border-radius: 20px;
  font-size: 30px;
}

#restart-button:hover {
    transition: 1s ease-in-out;
    background: #5b0d7a8f;
  }

#submit-button:hover {
    transition: 1s ease-in-out;
    background: #5b0d7a8f;
  }
  


header {
    text-align: center;
    height: 80px;
    font-size: 35px;
    color: #63c9b8;
    font-family: 'Nunito', sans-serif;
}



body {
    height: 100vw;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
}

#gameboard {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    display: none;
    
}

.game-positions {
    font-size: 100px;
    text-align: center;
}

#position-one {
    grid-area: 1 / 1 / 2 / 2;
    border-left: none;
    border-top: none;
}

#position-two {
    grid-area: 1 / 2 / 2 / 3;
    border-top: none;
}
#position-three {
    grid-area: 1 / 3 / 2 / 4;
    border-top: none;
    border-right: none;
}
#position-four {
    grid-area: 2 / 1 / 3 / 2;
    border-left: none;
}
#position-five {
    grid-area: 2 / 2 / 3 / 3;
}
#position-six {
    grid-area: 2 / 3 / 3 / 4;
    border-right: none;
}
#position-seven {
    grid-area: 3 / 1 / 4 / 2;
    border-left: none;
    border-bottom: none;
}
#position-eight {
    grid-area: 3 / 2 / 4 / 3;
    border-bottom: none;
}
#position-nine {
    grid-area: 3 / 3 / 4 / 4; 
    border-bottom: none;
    border-right: none;
}

.game-positions {
    border: 1px solid black;

}